<div>
    <img src="../../../../assets/images/menu_icon.png" alt="menu">

    <hr>
</div>

<div>
    <img src="../../../../assets/images/bitcoin_icon.png" alt="menu">

    <img src="../../../../assets/images/intercom_icon.png" alt="menu">

    <img src="../../../../assets/images/airbnb_icon.png" alt="menu" class="airbnbIcon">
</div>

<div>
    <hr>

    <img src="../../../../assets/images/group_icon.png" alt="menu" class="groupAndChatIcons">
</div>

<div>
    <hr>

    <img src="../../../../assets/images/chat_icon.png" alt="menu" class="groupAndChatIcons"> 
</div>