<img src="../../../../assets/images/menu_icon.png" alt="menu" class="centerElements imgPosition--menu">

<hr class="centerElements hr hr--firstPosition">

<img src="../../../../assets/images/bitcoin_icon.png" alt="menu" class="centerElements imgPosition--bitcoin">

 <img src="../../../../assets/images/intercom_icon.png" alt="menu" class="centerElements imgPosition--intercom">

  <img src="../../../../assets/images/airbnb_icon.png" alt="menu" class="centerElements imgPosition--airbnb">

 <hr class="centerElements hr hr--secondPosition">

 <img src="../../../../assets/images/group_icon.png" alt="menu" class="centerElements imgPosition--groupIcon">

 <hr class="centerElements hr hr--thirdPosition">

<img src="../../../../assets/images/chat_icon.png" alt="menu" class="centerElements imgPosition--chatIcon"> 