<div>
    <img src="../../../../assets/images/menu_icon.png" alt="menu">

    <hr>
</div>

<div>
    <img src="../../../../assets/images/bitcoin_icon.png" alt="ícone bitcoin">

    <img src="../../../../assets/images/intercom_icon.png" alt="ícone intercom">

    <img src="../../../../assets/images/airbnb_icon.png" alt="ícone airbnb" class="airbnbIcon">
</div>

<div>
    <hr>

    <img src="../../../../assets/images/group_icon.png" alt="conjunto de ícones" class="groupAndChatIcons">
</div>

<div>
    <hr>

    <img src="../../../../assets/images/chat_icon.png" alt="ícone de chat" class="groupAndChatIcons"> 
</div>