<header>

    <nav>
        <h4>Dashboard</h4>
        <h4>Advanced Quarry</h4>
        <h4>Events</h4>
        
    </nav>
    <div>
       
        <hr>

        <img src="../../../../assets/images/search_icon.png" alt="ícone de pesquisa" class="searchIcon">
    
    
    
        <h4>Davi Batista</h4>
        <div class="personPhoto"></div>
        <img src="../../../../assets/images/arrow_icon.png" alt="ícone de seta" class="arrowIcon">
        <img src="../../../../assets/images/moon_icon.png" alt="ícone de lua" class="moonIcon">
    
    </div>
    

</header>